<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fps.habito"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ReminderNotification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Habito"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".IconPickerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".FormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".BootScreenMain"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/bootScreenNoBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GoogleSignIn"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/bootScreenNoBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".BootScreenMain"
            android:label="Settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
      
        <receiver android:name=".HabitResetReceiver" />
        <receiver android:name=".ReminderNotificationReceiver" />

    </application>

</manifest>